[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
taipy = "*"
flask-restx = "*"
python-decouple = "*"
install = "*"
reloadium = "*"

[dev-packages]

[requires]
python_version = "3.11"
