[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
taipy = "*"
flask-restx = "*"
python-decouple = "*"
reloadium = "*"
speechrecognition = "*"
pydub = "*"
torch = "*"
transformers = "*"
openai-whisper = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
