<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css"> <!-- Assuming you have some CSS styles -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.1/dist/tailwind.min.css" rel="stylesheet">
    <script src="/static/js/lecture_view.js" defer></script>
    <style>
        .hidden {
            display: none;
        }
        .date-time, .duration {
            background-color: #f7fafc;
            border-left: 4px solid #2c5282;
            padding: 10px;
            margin-bottom: 1rem;
        }
    </style>
</head>
<body class="font-sans bg-gray-100">

<div class="container mx-auto px-4">
    <a href='/lectures' class="p-4">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
            Back
        </button>
    </a>


    <div class="flex items-center justify-center flex-col min-h-screen">
        <div class="bg-white rounded-lg shadow-xl p-10 max-w-4xl w-full">
            <h1 class="text-3xl font-bold text-gray-900 mb-8 text-center">{{ title }}</h1>
            <div class="text-gray-800">
                <h2 class="text-2xl font-semibold mb-5 text-center">Summary</h2>
                <pre id="summary" class="text-lg text-gray-700 mb-8">{{ summary }}</pre>
                <div class="date-time">
                    <p class="text-lg"><strong>Date and Time:</strong> <time datetime="{{ datetime.isoformat() }}">{{ datetime.strftime('%A, %B %d, %Y at %I:%M %p') }}</time></p>
                </div>
                <div class="duration">
                    <p class="text-lg" id="durationDisplay"><strong>Duration:</strong></p>
                </div>
            </div>
        </div>

        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 ms-4" id="flashcard-btn">Generate Flashcards</button>

        <div class="flex flex-col items-center justify-center min-h-screen rounded">
            <div id="flashcard-container" class="relative cursor-pointer w-96 h-96 mx-auto hidden">
                <div class="flip-card-inner flashcard-content absolute inset-0 transition-transform duration-500">
                    <div class="flip-card-back backface-hidden absolute inset-0 flex items-center justify-center text-white text-lg p-4 bg-gradient-to-r from-red-500 to-pink-500 transform rotate-y-180 shadow-lg" id="back">
                        Back content goes here
                    </div>
                </div>
                <button id="prev" class="absolute left-0 bottom-0 bg-gray-300 hover:bg-gray-500 text-gray-800 font-bold py-2 px-4 rounded-l focus:outline-none shadow transition duration-300 ease-in-out">
                    ← Previous
                </button>
                <button id="next" class="absolute right-0 bottom-0 bg-gray-300 hover:bg-gray-500 text-gray-800 font-bold py-2 px-4 rounded-r focus:outline-none shadow transition duration-300 ease-in-out">
                    Next →
                </button>
            </div>
        </div>
    </div>
</div>

    <script>
        function formatDuration(totalMinutes) {
            const totalSeconds = Math.round(totalMinutes * 60);
            const hours = Math.floor(totalSeconds / 3600);
            const minutes = Math.floor((totalSeconds % 3600) / 60);
            const seconds = totalSeconds % 60;
            return `${hours} hour(s) ${minutes} minute(s) ${seconds} second(s)`;
        }

        document.getElementById('durationDisplay').innerText += formatDuration({{ length }});
    </script>
</body>
</html>
